.container {
    display: grid;
    grid-template-areas: "title      title   title         title"
                         "agency     network network       network";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px 1000px; 
    grid-gap: .5em;
    margin: 0 auto;
}

.title {
    grid-area: title;
}


.agency {
    grid-area: agency;
}

.network {
    grid-area: network;
}