.container {
    display: grid;
    grid-template-areas: "title      title"
                         "agency     agency"
                         "agencies   sankey";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(3, auto);
    grid-gap: .5em;
    margin: 0 auto;
}

.title {
    grid-area: title;
}

.agency {
    grid-area: agency;
}

.agencies {
    grid-area: agencies;
}

.sankey {
    grid-area: sankey;
}